.popup__container {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 430px;
  min-height: 322px;
  border-radius: 10px;
  background-color: #FFFFFF;
}

@media screen and (max-width: 468px) {
  .popup__container {
    width: calc(430px - (468px - 100vw));
  }
}