.profile__avatar {
  border-radius: 50%;
}

@media screen and (max-width: 918px) {
  .profile__avatar {
    grid-area: 1/1/2/2;
    justify-self: end;
  }
}

@media screen and (max-width: 618px) {
  .profile__avatar {
    justify-self: center;
  }
}